<a href="https://colab.research.google.com/github/ShakilM26/Database-Projects/blob/main/data-cleaning-practice/weather_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('weather.csv')
df

        Day temp w speed     event
0    1/1/21   32       6      Rain
1    1/4/21  NaN       9     Sunny
2    1/5/21   28     NaN      Snow
3    1/6/21  NaN       7       NaN
4    1/7/21   32     NaN      Rain
5    1/8/21  NaN     NaN     Sunny
6    1/9/21  NaN     NaN       NaN
7   1/10/21   34       6    Cloudy
8   1/11/21  -40      10     Sunny
9   1/12/21   14    Nice  No Event
10  1/13/21  NaN     NaN       NaN
11  1/14/21  Hot      18      Nice

In [ ]:
# First of all check null values

df.isnull().sum()

Day        0
temp       5
w speed    5
event      3
dtype: int64

In [ ]:
# Only those columns that have null values ​​are found

null=df.columns[df.isnull().any()]
df[null].isnull().sum()

temp       5
w speed    5
event      3
dtype: int64

In [ ]:
# Rename the column 'w speed' 

df.rename(columns={'w speed': 'wspeed'}, inplace=True)

In [ ]:
# Rows that have null values

df[df.isnull().any(axis=1)]

        Day temp wspeed  event
1    1/4/21  NaN      9  Sunny
2    1/5/21   28    NaN   Snow
3    1/6/21  NaN      7    NaN
4    1/7/21   32    NaN   Rain
5    1/8/21  NaN    NaN  Sunny
6    1/9/21  NaN    NaN    NaN
10  1/13/21  NaN    NaN    NaN

In [ ]:
# If you want to be more specific which column and where is the null value

null=df.columns[df.isnull().any()]
print(df[df.isnull().any(axis=1)][null])

   temp wspeed  event
1   NaN      9  Sunny
2    28    NaN   Snow
3   NaN      7    NaN
4    32    NaN   Rain
5   NaN    NaN  Sunny
6   NaN    NaN    NaN
10  NaN    NaN    NaN

In [ ]:
# In temp and wspeed column, here are non-numeric value.
# Let's make it numeric

df.info()
print('\n')

df['temp']=pd.to_numeric(df['temp'], errors='coerce')
df['wspeed']=pd.to_numeric(df['wspeed'], errors='coerce')
df.info()

# you can see the change

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Day     12 non-null     object
 1   temp    7 non-null      object
 2   wspeed  7 non-null      object
 3   event   9 non-null      object
dtypes: object(4)
memory usage: 512.0+ bytes


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Day     12 non-null     object
 1   temp    6 non-null      float64
 2   wspeed  6 non-null      float64
 3   event   9 non-null      object
dtypes: float64(2), object(2)
memory usage: 512.0+ bytes

In [ ]:
df

        Day  temp  wspeed     event
0    1/1/21  32.0     6.0      Rain
1    1/4/21   NaN     9.0     Sunny
2    1/5/21  28.0     NaN      Snow
3    1/6/21   NaN     7.0       NaN
4    1/7/21  32.0     NaN      Rain
5    1/8/21   NaN     NaN     Sunny
6    1/9/21   NaN     NaN       NaN
7   1/10/21  34.0     6.0    Cloudy
8   1/11/21 -40.0    10.0     Sunny
9   1/12/21  14.0     NaN  No Event
10  1/13/21   NaN     NaN       NaN
11  1/14/21   NaN    18.0      Nice

In [ ]:
event=df.replace({'event':0}, np.nan)
event

        Day  temp  wspeed     event
0    1/1/21  32.0     6.0      Rain
1    1/4/21   NaN     9.0     Sunny
2    1/5/21  28.0     6.0      Snow
3    1/6/21   NaN     7.0       NaN
4    1/7/21  32.0     6.0      Rain
5    1/8/21   NaN     6.0     Sunny
6    1/9/21   NaN     6.0       NaN
7   1/10/21  34.0     6.0    Cloudy
8   1/11/21 -40.0    10.0     Sunny
9   1/12/21  14.0     6.0  No Event
10  1/13/21   NaN     6.0       NaN
11  1/14/21   NaN    18.0      Nice

In [ ]:
# We have negative value in temp column
# And the event column has a different value
# Let's fix it.

df.loc[8, 'temp']=np.nan
df.loc[11, 'event']=np.nan

In [ ]:
# we can fill the nan value in many ways
# 'ffill' means forward fills 

df['temp'].fillna(method='ffill', inplace=True)

In [ ]:
# also we have 'bfill' which means backword fills

df['wspeed'].fillna(method='bfill', inplace=True)

In [ ]:
df

        Day  temp  wspeed     event
0    1/1/21  32.0     6.0      Rain
1    1/4/21  32.0     9.0     Sunny
2    1/5/21  28.0     6.0      Snow
3    1/6/21  28.0     7.0       NaN
4    1/7/21  32.0     6.0      Rain
5    1/8/21  32.0     6.0     Sunny
6    1/9/21  32.0     6.0       NaN
7   1/10/21  34.0     6.0    Cloudy
8   1/11/21  34.0    10.0     Sunny
9   1/12/21  14.0     6.0  No Event
10  1/13/21  14.0     6.0       NaN
11  1/14/21  14.0    18.0       NaN

In [ ]:
# Now it's turn to event column. 
# We can use .loc function but we already know that how to use it. 
# So let's try a new method 

df['event'].value_counts()

Sunny       3
Rain        2
Snow        1
Cloudy      1
No Event    1
Name: event, dtype: int64

In [ ]:
# The value that is most in number will replace the null value

df['event'].fillna(df['event'].mode()[0], inplace=True)
df

        Day  temp  wspeed     event
0    1/1/21  32.0     6.0      Rain
1    1/4/21  32.0     9.0     Sunny
2    1/5/21  28.0     6.0      Snow
3    1/6/21  28.0     7.0     Sunny
4    1/7/21  32.0     6.0      Rain
5    1/8/21  32.0     6.0     Sunny
6    1/9/21  32.0     6.0     Sunny
7   1/10/21  34.0     6.0    Cloudy
8   1/11/21  34.0    10.0     Sunny
9   1/12/21  14.0     6.0  No Event
10  1/13/21  14.0     6.0     Sunny
11  1/14/21  14.0    18.0     Sunny